<apex:page standardController="rh2__RH_Job__c" extensions="rh2.PS_DefineJob_Controller" sidebar="false"  applyBodyTag="false" docType="html-5.0" showHeader="true">
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	
	<head> 
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
         <apex:includeScript value="{! URLFOR($Resource.PT_Resources_v1, '/js/RollupRun.js') }"/>
    	 <apex:includeScript value="{! URLFOR($Resource.PT_Resources_v1, '/js/UI_Utilities.js') }"/>
         <apex:includeScript value="{! URLFOR($Resource.PT_Resources_v1, '/js/hs_breadcrumbs.js')}" />
    	<apex:includeScript value="//code.jquery.com/jquery-1.11.3.min.js"/>   
     </head>

  <script>
        
        //Verify namespace is ready
        var rh = rh || {};
        rh.rollupRun = new RollupRun();
        rh.rollupRun.batchSize = {!maxBatchSize};
        rh.estimateRecordsDuration = estimateRecordsDuration;
        var overwriteFlag;
            
        
        rh.j$ = jQuery.noConflict();
        rh.j$(document).ready(function() {
            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.PS_DefineJob_Controller.maxRecords}',
                           '{! JSENCODE(parentObjectName) }', estimateRecordsDuration, {escape:true, timeout:120000});

            selectBreadcrumb_HS();
        });
        
        function confirmRunOnce(overwrite, fieldName) 
        {
                     
            if(overwrite == true)
            {
            return confirm("WARNING: Running this rollup will cause the information in " + fieldName + " field to be " +
                            "overwritten. If this is not the desired action please press cancel and deselect 'Overwrite " +
                            "existing informaton' in the edit rollup page under the advanced options.");
            }       
            return true;       
        }

         function setPositionOfTooltip(tooltip, label){
            var xPos = 0;
            var yPos = 0;
            var height = 0;
            
            var item = document.getElementById(label);
            
            while(item){
            
                xPos += (item.offsetLeft - item.scrollLeft + item.clientLeft);
                yPos += (item.offsetTop - item.scrollTop + item.clientTop);
                
                item = item.offsetParent;
            }
            var tt = document.getElementById(tooltip);
            var height = rh.j$('#' + tooltip).outerHeight(true);
            
            tt.style.top = yPos - height - 5 + 'px';
          
            tt.style.left = xPos - 20 + 'px';
        }
        
        function setShowTooltipFormatting(tooltip){
            var tt = document.getElementById(tooltip);
            
            tt.style.display = 'block';
            tt.style.overflow = 'visible';
            tt.style.wordWrap = 'break-word';
        }
  </script>
  
    <body>
    	<apex:form >
        <apex:slds />
	 	<div class="slds-scope" role="main"> 	  
	 		<div class="slds-card">
  				<header class="slds-card__header">
	       			<nav role="navigation">
    					<ol class="slds-breadcrumb slds-list_horizontal">
                            <li class="slds-list__item slds-text-heading_label home-crumb"><a href="{!URLFOR($Page.PS_landingPage)}">Home</a></li>
   		   					<li class="slds-list__item slds-text-heading_label setting-crumb"><a href="{!URLFOR($Page.PS_Allsettings)}">All Rollup Settings</a></li>
       					</ol>
        			</nav>
  				</header>
  			</div>
 			<div class="slds-card">
				<header class="slds-card__header slds-grid">
           			<div class="slds-col">
               			<h3 class="slds-text-heading_small slds-truncate">Run Rollup</h3>
             		</div>
             			
         			<div class="slds-col_padded" align="right">   					           			
             			<apex:commandLink styleClass="slds-button slds-button_neutral" action="{!goToEnableRealtime}">Manage Realtime</apex:commandLink> 
            			<apex:commandButton styleClass="slds-button slds-button_neutral" action="{!URLFOR($Page.PS_AllSettings)}" value="Cancel" />
         			</div>        				
         		</header>
         		<section class="slds-card__body">
         			<div class="slds-grid slds-grid_align-center">
         				<div class="slds-col slds-shrink">        			
         					<div class="slds-box slds-theme_default slds-shrink">
         						<div class="slds-grid slds-grid_align-center">
	         						<span class="slds-text-heading_small" align="middle">{!targetField} Rollup</span>
	                   				<apex:inputHidden value="{!rh2__RH_Job__c.rh2__Rollup_Name__c}" />	                  
	               	 			</div>
	               				<br/>
	                			<div class="slds-grid slds-grid_align-center">
	                				<span class="slds-col"> Running this rollup will take an estimated: </span>
	                			</div>
	               				<div class="slds-grid slds-grid_align-center">             					
             					  <span style="color:red" id="estWaitTime"/> &nbsp;
                                  <a onmouseover="setShowTooltipFormatting('help-estimate'); setPositionOfTooltip('help-estimate', 'tooltipRollover');  " onmouseout="document.getElementById('help-estimate').style.display = 'none';"  id="tooltipRollover">
                                    <img class="slds-icon slds-icon_x-small" src="{!URLFOR($Resource.SFStyleSheets, 'SFStyleSheets/assets/icons/utility/info_60.png')}"></img>
                                  </a>
                                  <div class="slds-popover slds-popover_tooltip slds-nubbin_bottom-left" id="help-estimate" style="position:fixed; z-index:99; display:none !important;">
                                            <div class="slds-popover__body">
                                                Any run time information displayed here is an estimate.  Actual run time may vary based on several factors, including Salesforce server load.</div></div>
                                        
                                       <br/>
                     			  </div>
                     			<div class="slds-grid slds-grid_align-center">	
             						<apex:outputPanel id="runOncePanel"/>           					        					
  								</div>       <br/>

                                <center><apex:commandButton styleClass="slds-button slds-button_brand" id="runButton" value="Start Rollup Run" action="{!runForAllRecords}" onClick="if (!confirmRunOnce({!overwrite}, '{!targetField}')) return false;"/> </center>                        
                              
                                <apex:inputHidden value="{!maxRecords}" id="maxRecords"/>                		
             				</div> 
             			</div>
             		</div>                   
            	</section> 
            	
         	</div>	
	 	</div>
	 	</apex:form>
	</body>
</html>
</apex:page>