<apex:page showQuickActionVfHeader="false" showHeader="false" standardController="SkienceFinSln__Financial_Account_Restriction__c">
    <script type="text/javascript">
      SfdcApp.projectOneNavigator.fireContainerEvent("force:navigateToComponent", {componentDef: 'SkienceFinSln:SKFARestrictionProcessor',
                   componentAttributes: {
                    recordId: '{!SkienceFinSln__Financial_Account_Restriction__c.Id}',
                    isIgnore: false
                },
                resetHistory: true
                });
    </script>
</apex:page>