<apex:page showHeader="false" Controller="SkienceFinSln.ALCFDButtonsController" action="{!goToStreetscapeCashiering}">
<apex:pageMessages id="errorMsg"/>
<!--<apex:page showHeader="false">-->
<script>
    
    var errorMsgP="{!errorMsgA}";
   
    var Id="{!JSENCODE(FAJsId)}";
   
  
    if(errorMsgP!='')
    {
        alert(errorMsgP);
        sforce.one.navigateToSObject(Id,'related');
    }
    else
    {
        sforce.one.navigateToSObject(Id,'related');
        var redirectUrl="{!JSENCODE(gotoUrl)}";
        //alert('redirectUrl-->'+redirectUrl);
        window.open(redirectUrl,"about:blank",'name','height=300,width=350');
    }
    
    
    
</script>
        
</apex:page>