<apex:page Controller="SkienceFinSln.HouseholdTearSheetPDFController" sidebar="false" applyHtmlTag="false"  showHeader="false" applyBodyTag="false" renderAs="pdf" >
    <head>
        <style type="text/css" media="print">           
            .stationName {
            text-align: center;
            font-weight: bold;
            font-size: 12pt;
            color:#16325C;
            margin-bottom: 30px;
            font-family: Arial, Helvetica, sans-serif;
            }
            
            .table {
            width: 100%;
            }
            
            .centered {
            text-align: center;
            }
            
            .right {
            text-align: right;
            }
            
            .tableHeader {
            border-width: 0px 0px 1px 0px;
            border-color: #000;
            border-style: solid;
            }
            
            .sectionHeader {
            width: 100%;
            background-color: #3A95E1;
            font-size: 12pt;
            font-weight: bold;
            color:#FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
            padding: 0cm;
            height: 1%;
            padding-left: 1%;
            }
            .fontstyles{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 7pt;
            color:#16325C;
            }                
            
            .autoResizeImage {
            max-width: 100%;
            height: auto;
            width: auto;
            }
            .tdclass
            {
            margin: 0;
            padding: 4px;
            border-width: 1px 1px 0 1px;
            border-width: 1px 1px 1px 1px;
            border-spacing: 0;
            border-collapse: collapse;
            }​
            
            .tableHeader{
            border-bottom:1pt solid black;
            }
            
            @page {
            size:A4 portrait;
            border: 2px solid black;    
            
            }
            .style {        
            border:0.8px solid black;
            }
            
            .th {
            border:0.8px solid black;
            }
            
        </style>
    </head>
    
    <apex:form >
        <apex:pageblock id="pageblock1">
            <div class="stationName ">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <apex:outputLabel value="{!acctlist.Name}"></apex:outputLabel> -Financial Profile Worksheet
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <apex:image URL="{!atheneLogoURL}" width="100" height="40" />
            </div>
            <div class="sectionHeader">
                Snapshot
            </div>
            <div class="outputlabel">
                
                <table  style="table-layout: auto;border-spacing: 0px 0px;font-size:9px;" class="fontstyles">
                    <tr>
                        <td width="30%" style="vertical-align:top" >
                            <br/>
                            <apex:outputLabel value="Primary Client : {!Clientname}" rendered="{!IF(developername =='IndustriesIndividual'&& Developername !='IndustriesBusiness' ,true,false)}"></apex:outputLabel>
                            <apex:outputText value="Household :{!houseHoldname}" rendered="{!IF(developername=='IndustriesHousehold' && developername !='IndustriesBusiness' && developername !='IndustriesIndividual' ,true,false)}"/>
                            <br/>
                            <apex:outputText value="Head Of Household :{!headOfHhName}" rendered="{!IF(developername=='IndustriesHousehold' && developername !='IndustriesBusiness' && developername !='IndustriesIndividual' ,true,false)}"/>
                            <br/>
                            <apex:outputText value="Net worth : {0,number,Currency}" rendered="{!IF(developername =='IndustriesIndividual' || Developername =='IndustriesBusiness' ,true,false)}">
                                <apex:param value="{!acctlist.FinServ__NetWorth__c}"/>
                            </apex:outputText>
                            <apex:outputText value="Net worth : {0,number,Currency}" rendered="{!IF(Developername=='IndustriesHousehold' ,true,false)}">
                                <apex:param value="{!networthValue}"/>
                            </apex:outputText><br/>
                            <apex:outputText value="Establishment Date : {0,date,MM'/'dd'/'yyyy}" rendered="{!IF(developername =='IndustriesBusiness' || headOfHhRType=='Business' ,true,false)}"  >
                                <apex:param value="{!Estlist}" /> 
                            </apex:outputText>
                            <br/>
                            
                            <apex:image URL="{!ImageURL}" width="150" height="130" rendered="{!IF(Developername=='IndustriesIndividual' ,true,false)}"/>
                            <apex:image URL="{!ImageURL}" width="150" height="130" rendered="{!IF(headOfHhRType=='Individual'|| headOfHhRType=='Person' ,true,false)}"/>
                        </td>
                        
                        <td style="width:35%; vertical-align:top">
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <apex:outputText value="DOB : {0,date,MM'/'dd'/'yyyy}" rendered="{!IF(developername =='IndustriesIndividual' || recordTypeName=='Individual' ,true,false)}"  >
                                <apex:param value="{!acctlist.FinServ__PrimaryContact__r.Birthdate}" /> 
                            </apex:outputText>
                            <br/>
                            
                            <apex:outputLabel value="Age : {!FLOOR(acctlist.FinServ__PrimaryContact__r.FinServ__Age__c)} Years" rendered="{!IF(developername =='IndustriesIndividual' && Developername !='IndustriesBusiness' || recordTypeName=='Individual',true,false)}"/>  
                            <br/>
                            <apex:outputLabel value="Marital Status : {!acctlist.FinServ__PrimaryContact__r.FinServ__MaritalStatus__c}" rendered="{!IF(developername =='IndustriesIndividual' && Developername !='IndustriesBusiness' || recordTypeName=='Individual' ,true,false)}"/>
                            <br/>
                            <apex:outputLabel value="Employment Status : {!acctlist.FinServ__PrimaryContact__r.SkienceFinSln__Employment_Status__c}" rendered="{!IF(developername =='IndustriesIndividual' && Developername !='IndustriesBusiness' && showEmpStatus==True || recordTypeName=='Individual' ,true,false)}"/>
                            <br/>
                            <apex:outputLabel value="Annual Income : {!acctlist.FinServ__PrimaryContact__r.SkienceFinSln__Annual_Income_Picklist__c}" rendered="{!IF(developername =='IndustriesIndividual' && showInc=='true' && Developername !='IndustriesBusiness' || recordTypeName=='Individual',true,false)}"/>
                            <br/>
                            <apex:outputLabel value="Annual Expenses : {!acctlist.FinServ__PrimaryContact__r.SkienceFinSln__Annual_Expenses__c}" rendered="{!IF(developername =='IndustriesIndividual' && showExp=='true' && Developername !='IndustriesBusiness' || recordTypeName=='Individual',true,false)}"/>
                            <br/>
                            <apex:outputLabel value="Liquid NetWorth : {!acctlist.FinServ__PrimaryContact__r.SkienceFinSln__Liquid_Net_Worth_Picklist__c}" rendered="{!IF(developername =='IndustriesIndividual' && showLiqNet=='true' && Developername !='IndustriesBusiness' || recordTypeName=='Individual' ,true,false)}"/>
                            <apex:outputText value="DOB : {0,date,MM'/'dd'/'yyyy}" rendered="{!IF(developername =='IndustriesIndividual' || recordTypeName=='Individual' ,true,false)}"  >
                                <apex:param value="{!acctlist.FinServ__PrimaryContact__r.Birthdate}" /> 
                            </apex:outputText>
                            <br/>
                            <apex:outputText value="DOB : {0,date,MM'/'dd'/'yyyy}" rendered="{!IF(recordTypeName=='Person' ,true,false)}"  >
                                <apex:param value="{!personContact.Birthdate}" /> 
                            </apex:outputText>
                            <br/>
                            <apex:outputLabel value="Age : {!FLOOR(personContact.FinServ__Age__c)} Years" rendered="{!IF(recordTypeName=='Person',true,false)}"/>  
                            <br/>
                            <apex:outputLabel value="Marital Status : {!personContact.FinServ__MaritalStatus__c}" rendered="{!IF(recordTypeName=='Person' ,true,false)}"/>
                            <br/>
                            <apex:outputLabel value="Employment Status : {!personContact.SkienceFinSln__Employment_Status__c}" rendered="{!IF(recordTypeName=='Person' ,true,false)}"/>
                            <br/>
                            <apex:outputLabel value="Annual Income : {!personContact.SkienceFinSln__Annual_Income_Picklist__c}" rendered="{!IF(recordTypeName=='Person',true,false)}"/>
                            <br/>
                            <apex:outputLabel value="Annual Expenses : {!personContact.SkienceFinSln__Annual_Expenses__c}" rendered="{!IF(recordTypeName=='Person',true,false)}"/>
                            <br/>
                            <apex:outputLabel value="Liquid NetWorth : {!personContact.SkienceFinSln__Liquid_Net_Worth_Picklist__c}" rendered="{!IF(recordTypeName=='Person' ,true,false)}"/>
                        </td>
                        
                        <td width="10%">
                            <apex:outputPanel rendered="{!piechartValue}">
                                <apex:outputPanel rendered="{!annImageshow}">
                                    <apex:image URL="{!Annreview}" width="330" height="200" style="text-align:left;vertical-align:top;padding:0"/>
                                </apex:outputPanel>
                            </apex:outputPanel>
                        </td>
                        
                    </tr>
                </table>
            </div>
            
            <apex:outputPanel rendered="{!IF(ShowConlist=='true' && Developername !='IndustriesBusiness' && developername !='IndustriesIndividual',true,false)}">
                <div class="sectionHeader">
                    Relatives In Household
                </div>
                <br/>
                <div class="fontstyles">
                    <table border="1" style="table-layout: fixed;border-spacing: 0px 0px;font-size:9px" >
                        <tr>
                            <th style="font-weight:Bold">Name</th>
                            <th style="font-weight:Bold">Type</th>
                            <th style="font-weight:Bold">Age(Years)</th>
                            <th style="font-weight:Bold">DOB/EstablishmentDate</th>
                            <th style="font-weight:Bold">Networth</th>
                            <th style="font-weight:Bold"># of Accounts</th>
                        </tr>
                        <apex:repeat value="{!disp_list}" var="con">
                            <tr>
                                <td>
                                    <apex:outputtext value="{!con.Accname}"/>
                                </td>
                                <td>
                                    <apex:outputtext value="{!con.type}"/>
                                </td>
                                <td>
                                    <apex:outputtext value="{!FLOOR(con.Age)}" rendered="{!IF(con.Age !=null,true,false)}"/>
                                </td>
                                <td>  
                                    <apex:outputtext value="{0,date,MM/dd/yyyy}" rendered="{!IF(con.RecDevname !='IndustriesBusiness',true,false)}">
                                        <apex:param value="{!con.Date_of_birth}" />
                                    </apex:outputtext>
                                    <apex:outputText value="{0,date,MM/dd/yyyy}" rendered="{!IF(con.RecDevname =='IndustriesBusiness',true,false)}">
                                        <apex:param value="{!con.EstDate}" />
                                    </apex:outputText>    
                                </td>
                                <td>
                                    <apex:outputText value="{0,number,Currency}"> 
                                        <apex:param value="{!con.Net_worth}"/>
                                    </apex:outputText>
                                </td>
                                <td>
                                    <apex:outputtext value="  {!con.No_of_clients}"/>
                                </td>
                            </tr>
                        </apex:repeat>
                    </table>
                    
                    
                </div>
            </apex:outputPanel>
            
            <br/>
            
            <apex:outputPanel rendered="{!ShowFinlist=='true'}">
                <div class="sectionHeader">
                    Financial Accounts
                </div>
                <br/>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!noRecords=='true' && ShowFinlist=='true' || finAccStatus=='false'}">
                <div style="font-family: Arial, Helvetica, sans-serif;font-size:9pt;color:#16325C;">
                    <center>No Financial Accounts to Display </center>
                </div>
            </apex:outputPanel>
            <div class="fontstyles">
                <apex:outputPanel rendered="{!showFins=='true' && ShowFinlist=='true' && finAccStatus=='true' }">
                    <table  border="1" style="table-layout: auto;border-spacing: 0px 0px;font-size:9px;">
                        <tr>
                            <th style="font-weight:Bold">Name</th>
                            <th style="font-weight:Bold">Product Type</th>
                            <th style="font-weight:Bold">Account Type</th>
                            <th style="font-weight:Bold">Account Num#</th>
                            <th style="font-weight:Bold">Date Opened</th>
                            <th style="font-weight:Bold">Short Name</th>
                            <th style="font-weight:Bold">Custodian</th>
                            <th style="font-weight:Bold">Balance</th>
                            <th style="font-weight:Bold">Is Qualified</th>
                            <th style="font-weight:Bold">Managed</th>
                            <th style="font-weight:Bold">Invst.Obj</th>
                            <th style="font-weight:Bold">RiskTolerance</th>
                            <th style="font-weight:Bold">Inv.Time Horizon</th>
                        </tr>
                        <apex:repeat value="{!FAlistwrap}" var="SuitRec">
                            <tr>
                                <td>{!SuitRec.Accountname}</td>
                                <td>{!SuitRec.ptype}</td>
                                <td>{!SuitRec.Atype}</td>
                                <td>{!SuitRec.Anumber} </td>
                                <td><apex:outputText value="{0,date,MM' /'dd' /'yyyy}">
                                    <apex:param value="{!SuitRec.Dopened}"/> 
                                    </apex:outputText>
                                </td>
                                <td>{!SuitRec.Shortname} </td>
                                <td>{!SuitRec.custodian} </td>
                                <td><apex:outputText value="{0,number,Currency}"> 
                                    <apex:param value="{!SuitRec.Balance}"/>
                                    </apex:outputText>           
                                </td>
                                <td style="vertical-align: middle;padding-left:10px;">
                                    <apex:outputPanel rendered="{!NOT(SuitRec.isQualified)}">
                                        <img src="/img/checkbox_unchecked.gif"/>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!SuitRec.isQualified}">
                                        <img src="/img/checkbox_checked.gif"/>
                                    </apex:outputPanel>
                                </td>
                                <td style="vertical-align: middle;padding-left:10px;">
                                    <apex:outputPanel rendered="{!NOT(SuitRec.isManaged)}">
                                        <img src="/img/checkbox_unchecked.gif"/>
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!SuitRec.isManaged}">
                                        <img src="/img/checkbox_checked.gif"/>
                                    </apex:outputPanel>
                                </td>
                                <td>{!SuitRec.Invobj} </td>
                                <td>{!SuitRec.Rickt} </td>
                                <td>{!SuitRec.Timehorizon} </td>
                                
                            </tr>
                        </apex:repeat>
                    </table>
                    
                    
                </apex:outputPanel>
                <br/> <br/>   
                <apex:dynamicComponent componentValue="{!disclosureComponent}" />  
            </div>
            
        </apex:pageblock>
    </apex:form>
    
</apex:page>