<apex:page standardController="SkienceFinSln__Account_Contact_Reconciliation__c" standardStylesheets="false">
  <apex:form >
   <div style="margin-left:195px;"> 
    <apex:outputLabel value="Target" style="font-weight:bold; font-size:14px; color :#404040;" /> 
   </div>
  </apex:form>
</apex:page>