<apex:page standardController="SkienceFinSln__Transactions__c" extensions="SkienceFinSln.Custom_Transactions">
<apex:slds />
<div class="slds-scope">
<style>
    div[id$="TransactionPanel"]  {
        background: #fff !important;
        border:none !important;
        padding: 0 0 0 0 !important;
    }
    
    .pbBody{
        background: #fff !important;
        border:none !important;
        padding: 0 0 0 0 !important;
        margin: 0 0 0 0 !important;
    }
</style>
<apex:form >
<apex:pageMessages ></apex:pageMessages>
<apex:pageBlock title="Transaction" mode="edit" id="TransactionPanel">
<apex:pageBlockbuttons >
<apex:commandButton value="Save" action="{!Save}" styleClass="slds-button slds-button--brand"/>
<apex:commandButton value="Cancel" action="{!Cancel}" styleClass="slds-button slds-button--neutral"/>
</apex:pageBlockbuttons>

<apex:variable value="{!0}" var="rowNum"/>
<apex:pageBlockSection title="Information " columns="2" collapsible="false">
<apex:repeat value="{!$ObjectType.SkienceFinSln__Transactions__c.FieldSets.SkienceFinSln__Transactions}" var="t">  
                <apex:inputfield value="{!SkienceFinSln__Transactions__c[t]}">  
                <apex:variable var="rowNum" value="{!rowNum + 1}"/> 
            </apex:inputfield>
            <apex:outputLabel rendered="{!IF(rowNum=4,true,false)}"></apex:outputLabel>
            </apex:repeat>  
</apex:pageBlockSection>

</apex:pageBlock>
</apex:form>
</div>
</apex:page>