<apex:page >
    
    <Script src="/soap/ajax/37.0/connection.js" type="text/javascript"></script>
    <Script src="/soap/ajax/37.0/apex.js" type="text/javascript"></script>
    <script type="text/javascript">
    
    window.onload=function RedirectUrl() {
        sforce.connection.sessionId = '{!$Api.Session_ID}';
        try
        {
            // broker.skience.com will be the permanent url for prod/dev/qa etc - will not change.      
            var brokerUrl='https://broker.skience.com/managed-package/ClientCreation/UserOAuthIndex?SkiencePackageName=SkienceFinSln';
                        
            //end
            var retVal = sforce.connection.query("select Id,IsSandbox from Organization limit 1");
            var records = retVal.getArray("records");
            brokerUrl += ((records[0].IsSandbox=="true")? '&SFEnvironment=Sandbox': '&SFEnvironment=Production');
            //            alert(brokerUrl);
            if('{!$User.UIThemeDisplayed}' == 'Theme3')
            //window.open(brokerUrl,"_self");
                window.location.href = brokerUrl;
            else
            {
                SfdcApp.projectOneNavigator.fireContainerEvent("force:navigateToURL", 
                       {"url": brokerUrl, resetHistory: true });
                       }
            } catch (error) {
                alert(error.faultstring);
            }
        }
        </script> 
    
</apex:page>