<apex:page controller="SkienceFinSln.FromsDisplayController" action="{!deleteFAFormRecord}" sidebar="false" showHeader="false" standardStylesheets="true">    
    <apex:pageMessages />
    <apex:pageBlock >
     
        <apex:outputPanel id="htmlpnl" rendered="{!outputHTML !=null}">
               <apex:dynamicComponent componentValue="{!GenerateForms}" /> 
       <!--<apex:outputText id="htmloutText" value="{!outputHTML}" escape="false" ></apex:outputText>  -->
        </apex:outputPanel>       
    </apex:pageBlock>
    
    <apex:include pageName="{!overridepage}"/>

<apex:outputText rendered="{! protectForm}">      
</apex:outputText>
</apex:page>