<apex:page Controller="SkienceFinSln.BulkSubscribeController">
    <script>
    function StatusMsg(sMSG)
    {
        if(sMSG.length!=0)
        {
            alert(sMSG);
            window.location.reload();
        }
    }
    function close_window()
    {
        window.close();
    }
    function openSubscriptionHistory(userId,Integration)
    {
        open("apex/UserSubscriptionHistory?uid="+encodeURIComponent(userId)+"&integration="+Integration+"&bulk=true","","height=400,width=860,scrollbars=yes,resizable=yes"); 
        return false;
    }
    

    </script>
    <apex:form id="theForm">
            <center>
              <apex:actionStatus id="CheckStatus" >
                  <apex:facet name="start">
                         <img src="/img/loading32.gif"  height="15px" width="15px"/>   
                        <span style="margin-left: 10px; font-size: 12px; font-weight: bold; color: #000000;">Loading</span>
                  </apex:facet>
              </apex:actionStatus>
          </center>


        <style> .headerRow .headerStyle{background-color:#1797c0 !important;font-weight: bold;color:#FFFFFF !important;text-align: center !important;} </style>
        <apex:pageBlock id="pblock" title="User privileges for Skience Integrations">
            <apex:pageBlockButtons >
                 
                <apex:commandButton value="Save" action="{!Save}" disabled="{!DisableButton}" onclick="if(!confirm('Are you sure you want to save subscription details?')){return};" oncomplete="StatusMsg('{!message}')" rerender="pblock,pbs" status="actstatus"/>
                <apex:commandButton action="{!Cancel}" value="Cancel"/>
                <apex:actionStatus id="actstatus" >
                    <apex:facet name="start" >
                        <img src="/img/loading32.gif"  height="15px" width="15px"/>                    
                    </apex:facet>
                </apex:actionStatus>
            </apex:pageBlockButtons>
            
            <!--<apex:pageBlockSection> -->
               <apex:outputText style="font-size:3px;">Please select the Integration to subscribe users</apex:outputText><br/>
                <br/>&nbsp;&nbsp;&nbsp;
                 Profile Name&nbsp;&nbsp;&nbsp;
                <apex:selectList value="{!selectedProfile}" multiselect="false" label="Profile Name" size="1" style="width:200px;">
                    <apex:selectOptions value="{!lstProfiles}"/>
                    <apex:actionSupport event="onchange" action="{!getUsersListForProfile}"/>
                </apex:selectList>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               
               Integration&nbsp;&nbsp;&nbsp;
                <apex:selectList value="{!sSelectedIntegr}" multiselect="false" label="Integration Names" size="1" style="width:200px;">
                    <apex:selectOptions value="{!lstIntegrations}"/>
                    <apex:actionSupport event="onchange" action="{!queryResult}"/>
                </apex:selectList>
            <!-- </apex:pageBlockSection> -->
            
            <br/>
            <br/>
            <apex:pageBlockSection id="pbs">
                <apex:outputPanel id="SubscriptionsBlockId" rendered="{!isSubscriptionRender}">
                    <apex:pageBlockTable value="{!Subscriptions}" headerClass="headerStyle" var="sub" style="width:785px; border: 1px solid #1797c0;">
                        <apex:column style="height: 13px;">
                            <apex:facet name="header">Username</apex:facet>
                            <apex:outputtext value="{!sub.SkienceFinSln__Subscribed_Username__c}"/>
                        </apex:column>
                        <apex:column style="height: 13px; text-align: center;">
                            <apex:facet name="header">
                                <apex:inputCheckbox value="{!allChecked}" label="Subscribe" >
                                    <apex:actionSupport event="onclick" action="{!CheckAll}" rerender="SubscriptionsBlockId,pblock" oncomplete="StatusMsg('{!message}')"/>
                                </apex:inputCheckbox>
                            </apex:facet>
                            
                            <apex:inputField value="{!sub.SkienceFinSln__Subscribe__c}" id="SubscribeBox" >
                                <apex:actionSupport event="onclick"  rerender="SubscriptionsBlockId,pblock"   status="CheckStatus"  action="{!initializeDates}" oncomplete="StatusMsg('{!message}')">
                                    <apex:param assignTo="{!selectedUser}" name="typeSelected" value="{!sub.SkienceFinSln__Subscribed_Username__c}"/>
                                </apex:actionSupport>
                            </apex:inputField>
                        </apex:column>
                        <!-- <apex:column style="height: 13px; text-align: center;">
                            <apex:facet name="header">Subscription Date</apex:facet>
                            <apex:inputField value="{!sub.Subscribe_Date__c}" showDatePicker="false" id="SubscDate"/>
                            <script>
                            function setResult(subscribeDt)
                            {
                                document.getElementById(subscribeDt).readOnly=true;
                            }
                            window.onload = setResult('{!$Component.SubscDate}');
                            </script>
                        </apex:column> -->
                        <apex:column style="height: 13px; text-align: center;">
                            <apex:facet name="header">Expiration Date</apex:facet>
                            
                            <apex:inputField value="{!sub.SkienceFinSln__Expiry_Date__c}"   showDatePicker="false"  id="ExprDate"/>
                            <script>
                            function setResult1(exprdt)
                            {
                                document.getElementById(exprdt).readOnly=true;
                            }
                            window.onload = setResult1('{!$Component.ExprDate}');
                            </script>
                        </apex:column>
                        <!-- <apex:column style="height: 13px; text-align: center;">
                            <apex:facet name="header">Unsubscription Date</apex:facet>
                            <apex:inputField value="{!sub.Unsubscribe_date__c}" showDatePicker="false" id="UnSubscDate"/>
                            <script>
                            function setResult2(unsubscrdt)
                            {
                                document.getElementById(unsubscrdt).readOnly=true;
                            }
                            window.onload = setResult2('{!$Component.UnSubscDate}');
                            </script>
                        </apex:column>-->
                        <apex:column style="height: 13px; text-align:center;">
                            <apex:facet name="header">Available Licenses</apex:facet>
                            <apex:outputText value="{!mapRemainingLicenses[sub.SkienceFinSln__Integrations__c]}"/>
                        </apex:column>
                        <apex:column style="height: 13px; text-align: center;">
                            <apex:facet name="header">History</apex:facet>
                            <apex:commandLink value="View" onclick=" return openSubscriptionHistory('{!sub.SkienceFinSln__Subscribed_Username__c}','{!sSelectedIntegr}');"/>
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:outputPanel>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>