<apex:page controller="SkienceFinSln.LAIM_MappingPageController" showHeader="{!$User.UIThemeDisplayed=='Theme3'}" standardStylesheets="{!$User.UIThemeDisplayed=='Theme3'}" sidebar="{!$User.UIThemeDisplayed=='Theme3'}" applyHtmlTag="{!$User.UIThemeDisplayed=='Theme3'}" applyBodyTag="{!$User.UIThemeDisplayed=='Theme3'}">
    <apex:stylesheet value="{!URLFOR($Resource.SkienceFinSln__SLDS213, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
    <style>
        .tHeadClass {
        padding: 0 1.5rem !important;
        }
    </style>
    <apex:form id="lightningForm">
        
        <div class="AtheneLightningCSS"> 
            <div class="slds-page-header" role="banner">
                <div class="slds-grid">
                    <div class="slds-col slds-has-flexi-truncate">
                        <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="Laser App Field Mapping">Laser App Field Mapping</h1>
                    </div>
                </div>
            </div>
            <br/>
            <apex:pageBlock >
                <apex:outputText value="Select the Salesforce object from the dropdown to map with Laser App fields : " style="padding: 1rem 1.5rem;"></apex:outputText>
                <apex:selectList value="{!SelectedObject}" size="1" styleClass="slds-input" style="width:300px;">
                    <apex:selectOptions value="{!ObjectList}"></apex:selectOptions>
                    <apex:actionSupport event="onchange" status="actstatus" reRender="Tabel"></apex:actionSupport>
                </apex:selectList>
            </apex:pageBlock>
            <hr/>
            <apex:pageBlock id="Tabel">
                <apex:pageBlockButtons >
                    
                    <apex:commandButton value="Save" status="actstatus" action="{!Save}" reRender="Tabel" styleClass="slds-button slds-button--neutral"/>
                    <apex:commandButton value="Clear Mapping"  onclick="return ClearValues();" status="actstatus" styleClass="slds-button slds-button--neutral" />
                    
                    <apex:actionStatus id="actstatus" >
                        <apex:facet name="start" >
                            <img src="/img/loading32.gif"  height="15px" width="15px"/>                    
                        </apex:facet>
                    </apex:actionStatus>
                </apex:pageBlockButtons>
                <br/>
                <apex:pageBlockTable var="TabelData" value="{!DisplayTabelData}">
                    <apex:column style="padding: 0 1.5rem;" headerClass="tHeadClass">{!TabelData.SkienceFinSln__LaserApp_FieldName__c}
                        <apex:facet name="header">Laser App Fields</apex:facet>
                    </apex:column>
                    <apex:column style="padding: 0 1.5rem;" headerClass="tHeadClass">
                        <apex:facet name="header">Salesforce Fields</apex:facet>
                        <apex:selectList multiselect="false" size="1" value="{!TabelData.SkienceFinSln__Skience_FieldName__c}" id="SelectOpt" style="margin-top:5px; width:300px;" styleClass="slds-input">
                            <apex:selectOptions value="{!SFFields}" >                            
                            </apex:selectOptions>
                        </apex:selectList>
                    </apex:column>
                </apex:pageBlockTable>
                <br/>
            </apex:pageBlock>
        </div>
    </apex:form>
    <script>
    function ClearValues() {
        var inputElem = document.getElementsByTagName("select");
        for(var i=0; i<inputElem.length; i++) {
            if(inputElem[i].id.indexOf("SelectOpt") != -1) {
                inputElem[i].selectedIndex = 0;
            }
        }
        return false;
    }
    </script>
</apex:page>