<apex:page >


    <html>
        
        <Script src="/soap/ajax/37.0/connection.js" type="text/javascript"></script>
        <Script src="/soap/ajax/37.0/apex.js" type="text/javascript"></script>
        <script type="text/javascript">
        function RedirectUrl()
        {
            sforce.connection.sessionId = '{!$Api.Session_ID}';
            try
            {
                var redirectURL = 'https://DataServices.Skience.com/Home/SFIndex';
                var retVal = sforce.connection.query("select Id,IsSandbox from Organization limit 1");
                var records = retVal.getArray("records");
                redirectURL += ((records[0].IsSandbox == 'true')? '?SFEnvironment=Sandbox': '?SFEnvironment=Production');
                
                window.open(redirectURL,"Hello","width=2000,height=1000,scrollbars=yes");
            }
            catch (error)
            {
                alert(error.faultstring);
            }
            
        }
    </script> 

        <style>
.readmore_but1 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    background-color: #272727;
    padding: 18px 30px;
    border-radius: 4px;
    -webkit-transition: width .3s, height .3s, background-color .3s, -webkit-transform .3s;
    transition: width .3s, height .3s, background-color .3s, transform .3s;
    text-decoration: none !important;
}

.h2, h2 {
    font-size: 22px;
    font-weight: 500;
}
            b, strong {
    font-weight: 900;
}
h2 b {
    display: block;
    font-size: 19px;
    line-height: 23px;
    font-weight: 200;
    margin-top: 13px;
    color: #727272;
}
.readmore_but1:hover {
    color: #fff;
    background-color: #005fb2;
}
        </style>
        <body>
            <div style="margin-top:40px;text-align:center">
                <h2>
                  <strong>Skience Data Services  </strong>  
                </h2>
            </div>
        <div  style="margin-top:60px;text-align:center">            
<h2>
        AN INNOVATIVE PLATFORM <strong>BUILT FOR YOU</strong>
        <b>Aggregate Data from over 200 Data Providers, Manage Your Client and Account Data, Exceptional Support, and More.
        </b>
</h2>
        </div>
       <div style="margin-top:80px;text-align:center">
           <input type="button" value="Get Started Now!" onclick="RedirectUrl();" class="readmore_but1" />
        </div>
        </body>                           
    </html>
</apex:page>