<apex:page showQuickActionVfHeader="false" showHeader="false" standardController="FinServ__FinancialAccount__c">
    <script type="text/javascript">
      SfdcApp.projectOneNavigator.fireContainerEvent("force:navigateToComponent", {componentDef: 'SkienceFinSln:SKFAFinservFASubmitToCustodian',
                   componentAttributes: {
                    recordId: '{!FinServ__FinancialAccount__c.Id}',
                    isUpdate: false
                },
                resetHistory: true
                });
    </script>
</apex:page>