<apex:page standardcontroller="SkienceFinSln__Rep_Code_Header__c" extensions="SkienceFinSln.RepCodeHeaderController" sidebar="true" showHeader="true" standardStylesheets="false">
    <head>
        <title>{!Rep_Code_Header__c.Name }</title>
        <apex:slds />
    </head>
    <body class="slds-scope">
        <!-- MASTHEAD
        <p class="slds-text-heading--label slds-m-bottom--small">
          Using the Lightning Design System in Visualforce
        </p>
         / MASTHEAD -->
         <!-- Page message -->
         <apex:pageMessages id="msg"/>
        <!-- /Page Message -->
        <!-- PAGE HEADER -->
        <div class="slds-page-header" role="banner">
            <div class="slds-grid slds-grid--align-start">
                <div class="slds-col">
                    <!-- HEADING AREA -->
                    <span class="slds-icon_container slds-icon--large slds-icon-standard-account" title="Rep Code Icon">
                        <img src="{!URLFOR($Asset.SLDS, 'assets/icons/custom-sprite/svg/symbols.svg#custom07')}" alt="Rep Code Icon" />
                    </span>

                </div>
                <!-- / HEADING AREA -->
                <div class="slds-col">
                    <p class="slds-text-title--caps slds-line-height--reset">Rep Code Header
                        <h1 class="slds-page-header__title slds-truncate" title="Rep Code Header">{!Rep_Code_Header__c.Name }</h1>
                    </p>
                </div>
                <div class="slds-col slds-no-flex slds-grid slds-align-top">
                    <apex:form >
                        <apex:commandbutton value="Edit" action="{!Edit}" id="editButton" styleclass="slds-button slds-button--neutral slds-grow"/>
                        <apex:commandbutton value="Delete" action="{!deleteRepCode}" id="deleteButton" styleclass="slds-button slds-button--neutral slds-grow"/>
                        <!--<apex:commandButton action="{!updateFAAccess}" id="access" value="Update Access To FA" rerender="msg" styleclass="slds-button slds-button--neutral slds-grow"/> -->
                        <apex:commandButton action="{!newupdateFAAccess}" id="newaccess" value="Update Access To FA" rerender="msg" styleclass="slds-button slds-button--neutral slds-grow"/>
                        <apex:commandButton action="{!URLFOR($Action.SkienceFinSln__Rep_Code_Header__c.Share,SkienceFinSln__Rep_Code_Header__c.Id)}" value="Share" id="shareButton" styleclass="slds-button slds-button--neutral slds-grow"/>
                        <apex:commandButton action="{!back}" value="Cancel" styleclass="slds-button slds-button--neutral slds-grow"/>
                    </apex:form>
                </div>
            </div>
        </div>
        <!-- / PAGE HEADER -->
        
        <!-- Rep Alias DETAIL CARD -->
        <div class="slds-panel slds-grid slds-nowrap">
            <div class="slds-form--stacked slds-grow slds-scrollable--y">
                <div class="slds-panel__section">
                    <div class="slds-p-horizontal--small slds-size--1-of-2">                    
                    <div class="slds-form-element slds-hint-parent slds-has-divider--bottom">
                        <span class="slds-form-element__label">Display Name</span>
                        <div class="slds-form-element__control">
                            <span class="slds-form-element__static">{!Rep_Code_Header__c.Name }</span>
                        </div>
                    </div>
                    </div>
                    <div class="slds-p-horizontal--small slds-size--1-of-2">
                    
                    <div class="slds-form-element slds-hint-parent slds-has-divider--bottom">
                        <span class="slds-form-element__label">Rep Code</span>
                        <div class="slds-form-element__control">
                            <span class="slds-form-element__static">{!Rep_Code_Header__c.rep_code__c }</span>
                        </div>
                    </div>
                    </div>
                    <div class="slds-p-horizontal--small slds-size--1-of-2">
                    
                    <div class="slds-form-element slds-hint-parent slds-has-divider--bottom">
                        <span class="slds-form-element__label">Rep Code Type</span>
                        <div class="slds-form-element__control">
                            <span class="slds-form-element__static">{!Rep_Code_Header__c.Rep_Code_Type__c}</span>
                        </div>
                    </div>
                    </div>
                    
                    <div class="slds-p-horizontal--small slds-size--1-of-2">                    
                    <div class="slds-form-element slds-hint-parent slds-has-divider--bottom">
                        <span class="slds-form-element__label">Description</span>
                        <div class="slds-form-element__control">
                            <span class="slds-form-element__static">{!Rep_Code_Header__c.Description__c }</span>
                        </div>
                    </div>
                    </div>
                    
                    
                    <div class="slds-p-horizontal--small slds-size--1-of-2">
                    
                    <div class="slds-form-element slds-hint-parent slds-has-divider--bottom">
                        <span class="slds-form-element__label">Status</span>
                        <div class="slds-form-element__control">
                            <apex:outputfield value="{!SkienceFinSln__Rep_Code_Header__c.SkienceFinSln__Status__c}"/>
                        </div>
                    </div>
                    </div>
                    <div class="slds-p-horizontal--small slds-size--1-of-2">
                    
                    <div class="slds-form-element slds-hint-parent slds-has-divider--bottom">
                        <span class="slds-form-element__label">Disregard leading zeroes</span>
                        <div class="slds-form-element__control">
                            <apex:outputfield value="{!SkienceFinSln__Rep_Code_Header__c.SkienceFinSln__Disregard_leading_zeroes__c}"/>
                        </div>
                    </div>
                    </div>
                    <!--<div class="slds-p-horizontal--small slds-size--1-of-2">
                    
                    <div class="slds-form-element slds-hint-parent slds-has-divider--bottom">
                        <span class="slds-form-element__label">Available In NAO</span>
                        <div class="slds-form-element__control">
                            <apex:outputfield value="{!Rep_Code_Header__c.IsAvailable_NAO__c}"/>
                        </div>
                    </div>
                    </div>-->
                    <div class="slds-p-horizontal--small slds-size--1-of-2">
                    
                    <div class="slds-form-element slds-hint-parent slds-has-divider--bottom">
                        <span class="slds-form-element__label">Split</span>
                        <div class="slds-form-element__control">
                            <apex:outputfield value="{!SkienceFinSln__Rep_Code_Header__c.SkienceFinSln__IsSplit__c}"/>
                        </div>
                    </div>
                    </div>
                    <div class="slds-p-horizontal--small slds-size--1-of-2">
                    
                    </div>
                    <div class="slds-p-horizontal--small slds-size--1-of-2">
                    
                    <div class="slds-form-element slds-hint-parent slds-has-divider--bottom">
                        <span class="slds-form-element__label">Applies To All Account Prefixes</span>
                        <div class="slds-form-element__control">
                            <apex:outputfield value="{!SkienceFinSln__Rep_Code_Header__c.SkienceFinSln__Isappliestoallaccountprefixes__c}"/>
                        </div>
                    </div>
                    </div>
                    <div class="slds-p-horizontal--small slds-size--1-of-2">
                    
                    <div class="slds-form-element slds-hint-parent slds-has-divider--bottom">
                        <span class="slds-form-element__label">Applies To Account Prefixes</span>
                        <div class="slds-form-element__control">
                            <span class="slds-form-element__static">{!appliesToBranches}</span>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- / ACCOUNT DETAIL CARD -->
    </body>
    <apex:relatedList list="SkienceFinSln__Rep_Code_Details__r" />
</apex:page>