<apex:page standardController="SkienceFinSln__Proposal__c" extensions="SkienceFinSln.EnvestnetSSOLaunchExtension">
   <body onload="document.forms[0].submit()">
       <form action="{!acsURL}" method="post">
            <div>                                                           
               <input type="hidden" name="SAMLResponse" value="{!base64Response}" />
             </div>
             <noscript>
                 <div>
                   <input type="submit" value="Continue"/>
                </div>
            </noscript>
        </form>      
    </body>
</apex:page>