<apex:page controller="SkienceFinSln.HighChartsHousehold"  showHeader="false" sidebar="false">

<html>
<head>
        <title>Loading Household Tear sheet Details </title>
        <!-- 1. Add JQuery and Highcharts in the head of your page -->
       <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
         <script src="https://code.highcharts.com/modules/exporting.js"></script>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/canvg/dist/browser/canvg.min.js"></script> -->
        <apex:includeScript value="{! $Resource.jqueryminifiedversion}"/>
        <apex:includeScript value="{! $Resource.newHighcharts }"/>
        <apex:includeScript value="{! $Resource.highchartexporting }"/>
        <apex:includeScript value="{! $Resource.highchartminifiedcanvg }"/>     
        <script type="text/javascript">
        jQuery(document).ready(function() { 
    
        if({!chartsize})
         {      
           loadChartToAttachment() ;
         }
         else
        {
          window.onload=function()
          {
          EmptyHighChartMethod();
          };
        }
              });
              
        function loadChartToAttachment(){
      
      
        var chart = new Highcharts.Chart({ 
            chart: {
            type: 'pie',
            renderTo: 'container', 
        },
        exporting: {
            enabled: false
        },
       
        title: {
            useHTML: true,
            text: '<b>Account Allocation</b>',
           
        },
        tooltip: {
            useHTML: true,
            pointFormat: '{series.name}: <b>${point.y}</b>'
        },
        credits:
        {
        enabled:false
        },
        
       
        plotOptions: {
            pie: {
                 size:'85%',
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: false,
                    format: '{point.name}'
                },
                 showInLegend: true
            }
        },
           
           series:  [{
            type: 'pie',
            name: 'Assets',
            data:JSON.parse('{!JSENCODE(pieChartData)}')
        }]
           
        });

      
          var svg = chart.getSVG();
         canvg(document.getElementById('canvas'), svg) ;
          var canvas = document.getElementById("canvas");
          var img = canvas.toDataURL("image/png");
          img = img.replace('data:image/png;base64,','') ;
         console.log(img) ;
    window.onload=function()
    {
    var basevalue=img;
    controllermethod(basevalue);
        };
        }
                      

   
        </script>
         
    </head>
    <body>
    <canvas id="canvas" width="200" height="100" style="display:none;"></canvas>
           <div id="container" style="display:none;"></div>             
    </body>
</html>
<apex:form >

<apex:actionFunction name="controllermethod" action="{!controllermethod}" reRender="">
<apex:param name="base64value" assignTo="{!base}" value=""/>
</apex:actionFunction>
<apex:actionFunction name="EmptyHighChartMethod" action="{!EmptyHighChartMethod}" reRender="">
</apex:actionFunction>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<center>
<apex:image url="{!$Resource.SkienceFinSln__LoadingContainer}" width="200" height="200"/>
</center>

</apex:form>
</apex:page>