<apex:page standardcontroller="SkienceFinSln__Rep_Code_Header__c" extensions="SkienceFinSln.RepCodeHeaderController" sidebar="true" showHeader="true" standardStylesheets="false" docType="html-5.0">
    <head>
        <apex:slds /> 
    </head>
    <body class="slds-scope">
    <apex:form >
    <!-- Page message -->
         <apex:pageMessages id="msg"/>
        <!-- /Page Message -->
    <!-- PAGE HEADER -->
        <div class="slds-page-header" role="banner">
            <div class="slds-grid slds-grid--align-start">
                <div class="slds-col">
                    <span class="slds-icon_container slds-icon--large slds-icon-standard-account" title="Rep Code Icon">
                        <img src="{!URLFOR($Asset.SLDS, 'assets/icons/custom-sprite/svg/symbols.svg#custom7')}" alt="Rep Code Icon" />
                    </span>
                </div>
                <div class="slds-col">
                    <p class="slds-text-title--caps slds-line-height--reset">Rep Code Header
                        <h1 class="slds-page-header__title slds-truncate" title="Rep Code Header">{!Rep_Code_Header__c.Name }</h1>
                    </p>
                </div>
                <div class="slds-col slds-no-flex slds-grid slds-align-top">
                    <apex:commandbutton value="Save"  action="{!saveRecord}" styleclass="slds-button slds-button--neutral slds-grow" rerender="msg"/>
                    <apex:commandButton action="{!cancel}" value="Cancel" styleclass="slds-button slds-button--neutral slds-grow"/>
                </div>
            </div>
        </div>
        <!-- / PAGE HEADER -->
        
        <!-- Rep Alias DETAIL CARD -->
        <div class="slds-panel slds-grid slds-nowrap">
            <div class="slds-form--compound slds-grow slds-scrollable--y">
                <div class="slds-panel__section">
                    <div class="slds-p-horizontal slds-size--1-of-2">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" >Display Name</label>
                            <div class="slds-form-element__control">
                                <apex:inputField value="{!SkienceFinSln__Rep_Code_Header__c.name}" styleclass="slds-input"/>
                            </div>
                        </div>
                    </div>
                    <div class="slds-p-horizontal slds-size--1-of-2">
                        <div class="slds-form-element">
                            <abbr class="slds-required" title="required">*</abbr>
                            <label class="slds-form-element__label" >Rep Code</label>
                            <div class="slds-form-element__control">
                                <apex:inputText value="{!SkienceFinSln__Rep_Code_Header__c.SkienceFinSln__Rep_Code__c}" styleclass="slds-input"/>
                            </div>
                        </div>
                    </div>
                    <div class="slds-p-horizontal slds-size--1-of-2">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" >Rep Code Type</label>
                            <div class="slds-form-element__control">
                                <apex:selectList value="{!repAliasRecord.SkienceFinSln__Rep_Code_Type__c}" size="1" multiselect="false"  id="repcodetypeSelect"  styleClass="slds-select">
                                    <apex:selectOptions value="{!repcode}" />
                                    <apex:actionsupport event="onchange" action="{!populateBranchAndProductCompanyOptions}"  rerender="branchSelector"/>
                                </apex:selectList>
                            </div>
                        </div>                  
                    </div>
                    
                    <div class="slds-p-horizontal slds-size--1-of-2">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" >Description</label>
                            <div class="slds-form-element__control">
                                <apex:inputField value="{!SkienceFinSln__Rep_Code_Header__c.SkienceFinSln__Description__c}" styleclass="slds-input"/>
                            </div>
                        </div>
                    </div>
                     <div class="slds-p-horizontal slds-size--1-of-2">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <apex:inputField value="{!SkienceFinSln__Rep_Code_Header__c.SkienceFinSln__Disregard_leading_zeroes__c}"/>
                                <label class="slds-checkbox__label">
                                    <span class="slds-checkbox--faux"></span>
                                    <span class="slds-form-element__label">Disregard leading zeroes</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="slds-p-horizontal slds-size--1-of-2">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" >Status</label>
                            <div class="slds-form-element__control">
                                <apex:inputField value="{!SkienceFinSln__Rep_Code_Header__c.SkienceFinSln__Status__c}" styleclass="slds-input"/>
                                <!--<apex:selectList value="{!repAliasRecord.Status__c}" size="1" multiselect="false" styleClass="slds-select">
                                </apex:selectList>-->
                            </div>
                        </div>
                    </div>
                    <!--<div class="slds-p-horizontal slds-size--1-of-2">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <apex:inputField value="{!Rep_Code_Header__c.IsAvailable_NAO__c}"/>
                                <label class="slds-checkbox__label">
                                    <span class="slds-checkbox--faux"></span>
                                    <span class="slds-form-element__label">Available In NAO</span>
                                </label>
                            </div>
                        </div>
                    </div>-->
                    <div class="slds-p-horizontal slds-size--1-of-2">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <apex:inputField value="{!SkienceFinSln__Rep_Code_Header__c.SkienceFinSln__IsSplit__c}" />
                                <label class="slds-checkbox__label">
                                  <span class="slds-checkbox--faux"></span>
                                  <span class="slds-form-element__label">Is Split</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="slds-p-horizontal slds-size--1-of-2">
                    
                    </div>
                    <div class="slds-p-horizontal slds-size--1-of-2">
                        <div class="slds-form-element">
                            <div class="slds-form-element__control">
                                <apex:inputCheckbox value="{!repAliasRecord.SkienceFinSln__Isappliestoallaccountprefixes__c}" id="allBranches">
                                    <apex:actionsupport event="onchange" action="{!appliesToAllBranchChanged}"  rerender="branchSelector"/>
                                </apex:inputCheckbox>
                                <label class="slds-checkbox__label">
                                  <span class="slds-checkbox--faux"></span>
                                  <span class="slds-form-element__label">Applies To All Account Prefixes</span>
                                </label> 
                                
                            </div>
                        </div>
                    </div>
                    <div class="slds-p-horizontal slds-size--1-of-2">
                        <div class="slds-form-element">
                            <label class="slds-form-element__label">Applies To Account Prefixes</label>
                            <div class="slds-form-element__control">
                                <apex:selectList value="{!selectedBranches}" size="5" multiselect="true"  
                                    disabled="{!repAliasRecord.SkienceFinSln__Isappliestoallaccountprefixes__c}" id="branchSelector" styleClass="slds-select">
                                     <apex:selectOptions value="{!branchOptions}" />
                                 </apex:selectList>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- / Rep Alias DETAIL CARD -->
 </apex:form>
 </body>
</apex:page>