<apex:page showQuickActionVfHeader="false" standardController="Account" recordSetvar="accounts" extensions="SkienceFinSln.eMoneyController">
    <script>
        var size = parseInt("{!JSENCODE(TEXT(selectedContacts.size))}");
        SfdcApp.projectOneNavigator.fireContainerEvent("force:navigateToComponent", {componentDef: 'SkienceFinSln:eMoneySyncClientList',
                   componentAttributes: {
                    size:size,
                    selectedContacts:'{!JSENCODE(selectedContactsJson)}',
                    vfRetURLInSFX:'{!JSENCODE(vfRetURLInSFX)}',
                    eMoneyExtId:'{!JSENCODE(eMoneyExtId)}'                      
                }, 
                resetHistory: true
                });
    </script>
</apex:page>