<apex:page showQuickActionVfHeader="false" standardController="FinServ__FinancialAccount__c">
    <script>
        SfdcApp.projectOneNavigator.fireContainerEvent("force:navigateToComponent", {componentDef: 'SkienceFinSln:SKFAFinservFAToOnboardingEdit',
                   componentAttributes: {
                    financialAccountId: '{!FinServ__FinancialAccount__c.Id}',
                    financialAccountName: ('{!JSENCODE(FinServ__FinancialAccount__c.Name)}')
                },
                resetHistory: true
                });
    </script>
</apex:page>