<apex:page standardController="SkienceFinSln__Rep_Code_Detail__c" recordSetVar="RepUser" extensions="SkienceFinSln.RecordIdfromURL" lightningStyleSheets="true" >
    <apex:includeLightning />
    <apex:slds />
    <div class="slds-scope">
       <!-- <div class="modal-glass slds-backdrop fadein slds-backdrop_open" tabindex="-1" style="opacity: 0.8;" > 
    </div> -->
        <div id="Container" style="z-index:9998"> 
        </div> 
    </div>
    
    <script type="text/javascript"> 
    var recordId1 = '{!parentRecordId}'; 
    console.log(recordId1 );
    var myUserContext = "{!$User.UITheme}";
    console.log(myUserContext );
    $Lightning.use("SkienceFinSln:RepCodeDetailContainer", function() {
        $Lightning.createComponent("SkienceFinSln:RepCodeDetailNew",
                                   {parentRecordId:'{!parentRecordId}'},
                                   "Container",
                                   function(cmp) {
                                       console.log("Component created!");
                                       $A.eventService.addHandler({
                                           event: 'force:navigateToSObject',
                                           handler: function(event) {
                                               console.log(myUserContext);
                                               if (myUserContext == 'Theme4t' || myUserContext == 'Theme4d') {
                                                   console.log("redirectid"+event.getParams().recordId);
                                                   sforce.one.navigateToSObject(event.getParams().recordId);
                                               } else if (myUserContext == 'Theme3') {
                                                   window.location = '{!JSENCODE($CurrentPage.parameters.retURL)}';
                                               } else {
                                                   console.log("Unsupported theme");  
                                               }
                                           }                                   });
                                   }
                                  );
    });
    
    </script>
</apex:page>