<apex:page >
    
    <Script src="/soap/ajax/37.0/connection.js" type="text/javascript"></script>
    <Script src="/soap/ajax/37.0/apex.js" type="text/javascript"></script>
    <script type="text/javascript">
    
    window.onload=function RedirectUrl() {
        sforce.connection.sessionId = '{!$Api.Session_ID}';
        try
        {
            var retVal = sforce.connection.query("select NamespacePrefix from ApexClass where Name ='ServicesHelper'");
            var records = retVal.getArray("records");
            var nameSPrefix= records[0].NamespacePrefix;
            
            var className = nameSPrefix +'.ServicesGlobal';
            
            var sObject = '{!JSENCODE($CurrentPage.parameters.sObject)}';
            
            var result = sforce.apex.execute(className,"RequestDataSync",{});
            
            if (result == 'success') {
                alert("Request Reconciliation successful");
            }
            else if (result == 'failure') {
                alert("Request Reconciliation failed.");
            }
            else {
                alert("Request Reconciliation failed; " + result);
            }
            
            var sObjectName = nameSPrefix+'__'+sObject;
            var res = sforce.connection.describeSObjects([sObjectName]);
            var newId = "/"+res[0].keyPrefix;
            if('{!$User.UIThemeDisplayed}' == 'Theme3')
                window.location.href = newId;
            else
            {
                SfdcApp.projectOneNavigator.fireContainerEvent("force:navigateToURL", 
                       {"url": newId, resetHistory: false });
            }
            
        } catch (error) {
            alert(error.faultstring);
        }
    }
    </script> 
    
</apex:page>