<apex:page standardController="SkienceFinSln__Quik_Form_Object__c"></apex:page>
<!-- TO BE DELETED! -->   
<!--       
<apex:page standardController="SkienceFinSln__Quik_Form_Object__c">
    <script src="/canvas/sdk/js/publisher.js"/>
    
    <apex:includeLightning />
        
        <div class="slds" id="lightning"/>
            
            
            <script>
            Sfdc.canvas.publisher.resize( { height : "500px" } );
    
    $Lightning.use("c:formGroupMaintApp", function() {
        $Lightning.createComponent("c:SKFAFormGroupManage", 
                                   {"recordId": "{!Quik_Form_Object__c.Id}" },
                                    "lightning",
                                    function(cmp) { });
                                   });
                                    
                                    </script>
</apex:page>
-->