<apex:page Controller="SkienceFinSln.ClientTearSheetPDFController" sidebar="false" applyHtmlTag="false"  showHeader="false" applyBodyTag="false" renderAs="pdf" >

  
 <head>
        <style type="text/css" media="print">           
           .stationName {
                text-align: center;
                font-weight: bold;
                font-size: 12pt;
                color:#16325C;
                margin-bottom: 30px;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            .table {
                width: 100%;
            }
            
            .centered {
                text-align: center;
            }
            
            .right {
                text-align: right;
            }
            
            .tableHeader {
                border-width: 0px 0px 1px 0px;
                border-color: #000;
                border-style: solid;
            }
            
            .sectionHeader {
                width: 100%;
                background-color: #3A95E1;
                font-size: 12pt;
                font-weight: bold;
                color:#FFFFFF;
                font-family: Arial, Helvetica, sans-serif;
                padding: 0cm;
                height: 1%;
                padding-left: 1%;
                            }
            .fontstyles{
             font-family: Arial, Helvetica, sans-serif;
             font-size: 7pt;
             color:#16325C;
            }                
                                            
          .autoResizeImage {
                max-width: 100%;
                height: auto;
                width: auto;
}

    .tableHeader{
          border-bottom:1pt solid black;
    }
            
            @page {
        size:A4 portrait;
        border: 2px solid black;    
    
}

    
       
        </style>
    </head>


<div class="stationName ">
<center>

<apex:outputLabel value="{!finProfile.con.FirstName}"></apex:outputLabel><apex:outputLabel value="{!finProfile.con.LastName}"></apex:outputLabel> -Financial Profile Worksheet
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<apex:image URL="{!atheneLogoURL}" width="100" height="40" />
</center>
</div>

<apex:pageblock id="pageblock1">

<div class="sectionHeader">
Snapshot
</div>
<br/>
<div class="fontstyles">
<div style="font-family: Arial, Helvetica, sans-serif;font-size:10pt;">
  &nbsp;&nbsp;&nbsp;Client :<apex:outputLabel value="{!finProfile.con.FirstName}" ></apex:outputLabel><apex:outputLabel value="{!finProfile.con.LastName}" ></apex:outputLabel> 
  </div>
<table style="border-spacing: 10px;font-family: Arial, Helvetica, sans-serif;" table-layout="fixed" class="fontstyles">
<tr>
<td width="25%" style="vertical-align:top" >

Net worth :&nbsp;&nbsp; <apex:outputText value="{0,number,Currency}">
<apex:param value="{!finProfile.con.SkienceFinSln__Net_Worth__c}"/>
</apex:outputText>
<br/>
<br/>
<apex:image URL="{!imageURL}" width="150" height="130"/>
</td>

<td width="35%" style="vertical-align:top">
<br/>
<br/>
<br/>
<br/>

DOB: <apex:outputText value="{0,date,MM/dd/yyyy}">
    <apex:param value="{!finProfile.con.Birthdate}" /> 
</apex:outputText>
<br/>
Age :<apex:outputLabel value="{!FLOOR(finProfile.con.FinServ__Age__c)}"/> Years 
<br/>
<apex:outputLabel value="Marital Status :{!finProfile.con.FinServ__MaritalStatus__c}"/>
<br/>
<apex:outputLabel value="Employment Status :{!finProfile.con.SkienceFinSln__Employment_Status__c}" rendered="{!showEmpStatus}"/>
<br/>
<apex:outputLabel value="Annual Income :{!finProfile.con.SkienceFinSln__Annual_Income_Picklist__c}" rendered="{!showInc}"/>
<br/>
<apex:outputLabel value="Annual Expenses :{!finProfile.con.SkienceFinSln__Annual_Expenses__c}" rendered="{!showExp}"/>
<br/>
<apex:outputLabel value="Liquid Worth :{!finProfile.con.SkienceFinSln__Liquid_Net_Worth_Picklist__c}" rendered="{!showLiqNet}"/>
</td>
<td width="20%" >
<apex:outputPanel rendered="{!piechartValue}">
<apex:outputPanel rendered="{!annImageshow}">
<apex:image URL="{!annreview}" width="330" height="200" style="text-align:left;vertical-align:top;padding:0"/>
</apex:outputPanel>
</apex:outputPanel>
</td>
</tr>
</table>

</div>
<apex:outputPanel rendered="{!showTable}">
<div class="sectionHeader">
Financial Accounts
</div>
</apex:outputPanel>
 <div style="font-family: Arial, Helvetica, sans-serif;font-size:9pt;color:#16325C;">
 <br/>
 <apex:outputPanel rendered="{!EmptyManageList=='true' && showTable=='true' || finAccStatus=='false' }">
 <br/>
 <center><div>No Financial Accounts to Display</div></center>
 </apex:outputPanel>
 </div>
    <div class="fontstyles">
 <apex:outputPanel rendered="{!noFinRecords=='true' && showTable=='true' && finAccStatus=='true'}">

    <table  border="1" style="table-layout: auto;border-spacing: 0px 0px;font-size:9px">
        <tr>
            <th style="font-weight:Bold">Name</th>
            <th style="font-weight:Bold">Product Type</th>
            <th style="font-weight:Bold">Account Type</th>
            <th style="font-weight:Bold">Account Num#</th>
            <th style="font-weight:Bold">Date Opened</th>
            <th style="font-weight:Bold">Nick Name</th>
            <th style="font-weight:Bold">Custodian</th>
            <th style="font-weight:Bold">Balance</th>
            <th style="font-weight:Bold">Is Qualified</th>
            <th style="font-weight:Bold">Managed</th>
            <th style="font-weight:Bold">Invst.Obj</th>
            <th style="font-weight:Bold">RiskTolerance</th>
            <th style="font-weight:Bold">Investment Time Horizon</th>
        </tr>
        
             <apex:repeat value="{!disp_list}" var="SuitRec">
             <tr>
                <td>{!SuitRec.Accname}</td>
                <td>{!SuitRec.ptype}</td>
                <td>{!SuitRec.Atype}</td>
                <td>{!SuitRec.Anumber} </td>
                <td><apex:outputText value="{0,date,MM/dd/yyyy}">
                    <apex:param value="{!SuitRec.Dopened}"/> 
                    </apex:outputText>
                     </td>
                <td>{!SuitRec.Shortname} </td>
                <td>{!SuitRec.custodian} </td>
                <td><apex:outputText value="{0,number,Currency}"> 
                    <apex:param value="{!SuitRec.Balance}"/>
                    </apex:outputText>
                </td>
                <td style="vertical-align: middle;padding-left:10px;">
                         <apex:outputPanel rendered="{!NOT(SuitRec.isQualified)}">
                             <img src="/img/checkbox_unchecked.gif"/>
                         </apex:outputPanel>
                         <apex:outputPanel rendered="{!SuitRec.isQualified}">
                             <img src="/img/checkbox_checked.gif"/>
                         </apex:outputPanel>
                     </td>
                 <td style="vertical-align: middle;padding-left:10px;">
                     <apex:outputPanel rendered="{!NOT(SuitRec.isManaged)}">
                         <img src="/img/checkbox_unchecked.gif"/>
                     </apex:outputPanel>
                     <apex:outputPanel rendered="{!SuitRec.isManaged}">
                         <img src="/img/checkbox_checked.gif"/>
                     </apex:outputPanel>
                 </td>
                <td>{!SuitRec.Invobj} </td>
                <td>{!SuitRec.Rickt} </td>
                <td>{!SuitRec.Timehorizon} </td>
             
             </tr>
             </apex:repeat>
    </table>
    
      

        </apex:outputPanel>
     <br/> <br/>   
        <apex:dynamicComponent componentValue="{!disclosureComponent}" />  
            </div>
</apex:pageblock>   
</apex:page>