<apex:page showHeader="false" title="{!$Label.site.site_under_construction}">
  <apex:composition template="SkienceFinSln__StdExceptionTemplate">
    <apex:define name="icon">
      <apex:image url="{!URLFOR($Resource.SkienceFinSln__SiteSamples, 'img/tools.png')}"/>
    </apex:define>
    <apex:define name="error">
      <apex:outputText escape="false" styleClass="title" value="{!$Label.site.under_construction}">
        <apex:param value="{!$Site.BaseUrl}"/>
      </apex:outputText>
      <br/>
      <br/>
      <apex:outputText value="{!$Label.site.stay_tuned}"/>
      <apex:outputText escape="false" value=" {!$Label.site.get_in_touch}">
      <apex:param value="mailto:{!HTMLENCODE($Site.AdminEmailAddress)}"/>
      <apex:param value="{!$Label.site.email_us}"/>
    </apex:outputText>
   </apex:define>
  </apex:composition>
</apex:page>